import { h, Component } from '@stencil/core';

@Component({
  tag: 'bq-{{kebabCase name}}',
{{#if styling}}
  styleUrl: './scss/bq-{{kebabCase name}}.scss',
{{/if}}
  shadow: true,
})
export class Bq{{pascalCase name}} {
  // Own Properties
  // ====================

  // Reference to host HTML element
  // ===================================

  // State() variables
  // Inlined decorator, alphabetical order
  // =======================================

  // Public Property API
  // ========================

  // Prop lifecycle events
  // =======================

  // Events section
  // Requires JSDocs for public API documentation
  // ==============================================

  // Component lifecycle events
  // Ordered by their natural call order
  // =====================================

  // Listeners
  // ==============

  // Public methods API
  // These methods are exposed on the host element.
  // Always use two lines.
  // Public Methods must be async.
  // Requires JSDocs for public API documentation.
  // ===============================================

  // Local methods
  // Internal business logic.
  // These methods cannot be called from the host element.
  // =======================================================

  // render() function
  // Always the last one in the class.
  // ===================================

  render() {
    return (
{{#if stylingVariables}}
      <p class="m-[var(--bq-{{kebabCase name}}--margin)]">
{{else}}        
      <p>
{{/if}}
        My name is Stencil <slot />
      </p>
    );
  }
}
